*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.container {
    width: 78%;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #EC362D;
    font-weight: normal;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    color: white;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: normal;
}
button{
    cursor: pointer;
    background: transparent;
    border: none;
}
body{
    background-color: #FAFAFA;
}
.escondido{
    display: none !important;
}

/* início Header */

.header{
    background-color: #EC362D;
    height: 69px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1{
    color: white;
}

/* Fim Header */

/* Início index */

    /* Index sem ter nenhum quizz feito */
.indexNoQuizzes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    padding: 50px;
}
.indexNoQuizzes h3{
    width: 60%;
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 20px;
}
.indexNoQuizzes button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    padding: 5px 20px;
}

    /* Index tem quizz feito */
.indexHaveQuizzes{
    margin-top: 100px;
}
.indexHaveQuizzesTitle{
    display: flex;
    align-items: center;
}
.indexHaveQuizzesTitle h3{
    font-weight: bold;
}
.indexHaveQuizzesTitle button{
    background-color: #EC362D;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

    /*Todos os quizzes */

.indexAllQuizzes{
    margin: 75px 0px 20px 0px;
}
.indexAllQuizzes h3{
    font-weight: bold;
}
.AllQuizzesQuizz{
    height: 180px;
    width: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 5px;
}
.indexAllQuizzesList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.AllQuizzesQuizz p{
    color: white;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: initial;
}

    /* Quizz aberto */

.OpenedQuizzHeader{
    height: 230px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Fim index */